body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}
main {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #303030;
    overflow: hidden;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
}

.header {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #303030;
}

.top-skrift {
    color: #f4059f;
    position: sticky;
    display: inline-block;
    padding: 10px;
    animation: scroll 50s linear infinite;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: lighter;
}

/* Animation der får teksten til at glide hen over skærmen */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


h1 {
    font-size: 5.25vmin;
    text-align: center;
    color: white;
}
p {
    font-size: max(10pt, 2.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85vmin;
    height: 65vmin;
    margin: 2rem auto;
    border: 8px solid;
    border-image: linear-gradient(
            -50deg,
            green,
            #00b300,
            forestgreen,
            green,
            lightgreen,
            #00e600,
            green
    )
    1;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    background: #186218;
    transition: 0.4s ease-in-out;
    z-index: 1;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: 0.5rem 0 0 0.5rem;
    border: 3px solid;
    border-image: linear-gradient(
            to bottom,
            #aea724 5%,
            forestgreen 35% 65%,
            #aea724 95%
    )
    0 0 0 100%;
    transition: 0.3s ease-in-out 0.2s;
    z-index: 1;
}
.image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("https://assets.codepen.io/4787486/trees.png");
    background-size: cover;
    transition: 0.3s ease-in-out;
    /* border: 1px solid green; */
}

.inset {
    max-width: 50%;
    margin: 0.25em 1em 1em 0;
    border-radius: 0.25em;
    float: left;
}


.text {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    overflow-y: scroll;
}
.tree {
    place-self: center;
    width: calc(50px + 2vw);
}

.wrap:hover .overlay {
    transform: translateX(-60vmin);
}
.wrap:hover .image-content {
    width: 30vmin;
}
.wrap:hover .overlay-content {
    border: none;
    transition-delay: 0.2s;
    transform: translateX(60vmin);
}

.wrap:hover {
    background: white;
    transform: translateX(1rem);
}

/* Animations and timing delays */
.animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
}
/* Pop In */
.pop {
    animation-name: pop;
}
@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Slide In */
.slide {
    animation-name: slide;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Slide Left */
.slide-left {
    animation-name: slide-left;
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

