body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f6e5e5;
    overflow: hidden;
}

.header {
    white-space: nowrap;
    overflow: hidden;
}

.top-skrift {
    color: #f4059f;
    position: sticky;
    display: inline-block;
    padding: 10px;
    animation: scroll 50s linear infinite;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: lighter;
    text-shadow: 2px 2px 6px rgb(255, 255, 255);
}

/* Animation der får teksten til at glide hen over skærmen */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



.images{
max-width: 300px;
    max-height: 400px;
}
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}
figure > * {
    grid-area: 1/1;
    transition: .4s;
}
figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
            linear-gradient(#000 0 0),
            linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}
figure:hover figcaption{
    --_i: 0%;
}
figure:hover img {
    transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #fff;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background: #425a52;
}